footer(role='contentinfo')
  .content

    nav(role='navigation')
      ul.unstyled
        li
          a(href='/updates', title='Latest Updates') 更新
        li
          a(href='/tutorials', title='Tutorials') 教程
        li
          a(href='/api', title='API Reference') API
        li
          a(href='/community', title='Community') 社区
        li
          a(href='/plugins', title='Plugins') 插件
        li
          a(href='/resources', title='Resources') 资源
        li
          a(href='https://github.com/hapijs/hapi', title='hapi on Github') Github
        li
          a(href='https://twitter.com/hapijs', title='@hapijs on Twitter') Twitter
        li
          a(href='/help') 需要帮助?

    p hapi由 <a href='https://github.com/orgs/hapijs/people'>核心团队</a> 在 <a href='https://github.com/hapijs/hapi/graphs/contributors'>我们的贡献者</a> 的帮助下维护的，并非常感谢 <a href='https://packet.net'>packet.net</a> 的托管。
